body {
    background-color:#404040;
    font-family: Verdana, sans-serif;
    font-size: small;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

div {
    /*border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;/**/
}

/* Main Display Styles */
.mainDisplay{
    position:relative;
    margin:auto;
    top:0px;
    width:1000px;
}
.mainDisplayImage {
    position: absolute;
    z-index:-1;
    top:200px;
    left:208px;
    width:600px;
    height:400px;
}
.mainDisplayBoarder {
    top:0px;
    left:0px;
    width:1000px;
    height:700px;
}


/* Link Box */
.mainDisplayLinkBox {
    position: absolute;
    top:200px;
    right:0px;
    width:200px;
    height:400px;
}
.mainDisplayLinks {
    width:200px;
    height:40px;
    border-style: none;
}

/* About */
.aboutBox {
    margin: auto;
    font-weight:bold;
    color: #000000;
    width: 600px;
    padding: 5px;
    font-size: medium;
}
.aboutBox h2 {
    color: black;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin: 1px;
}
