{% load staticfiles %}
<html>
<title>Strangely Ever After - Gallery</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
</head>
<body>

{% if project_list %}
    <center><table id="wideview">
        <th>Strangely Ever After Gallery</th>
        {% for p in project_list %}
            <tr>
            <td><a href="/gallery/{{ p.id }}/">{{ p.project }}</a></td>
            </tr>
        {% endfor %}
    </table></center>
{% else %}
    <p>No projects are available</p>
{% endif %}

</body>
</html>