{% load staticfiles %}
<html>
<title>Strangely Ever After - Gallery</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
</head>
<body>


<div id="wrapper">
    <div id="header">
        HEADER
    </div>
    <div id="navigation">
        Navigation bar<br />
        Navigation bar<br />
        Navigation bar<br />
        Navigation bar<br />
        Navigation bar<br />
    </div>
    <div id="content">
        <div id="website-title">
            WEBSITE TITLE
        </div>
        <div id="project-list">
            {% for p in project_list %}
                <a href="/gallery/{{ p.id }}/?page=1">{{ p.project }}</a>
            {% endfor %}
        </div>
    </div>
    <div id="footer">
        FOOTER
    </div>
</div>


</body>
</html>