{% load staticfiles %}
<html>
<title>Strangely Ever After - Gallery</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
</head>
<body>




<div id="wrapper">
    <div id="header">
        HEADER
    </div>
    <div id="navigation">
        Navigation bar<br />
        Navigation bar<br />
        Navigation bar<br />
        Navigation bar<br />
        Navigation bar<br />
    </div>
    <div id="content">
        <div id="project-title">
            Project: {{ project_name }} - {{ title }}
        </div>
        <div id="image-content">
            <img src="{{ location }}" />
        </div>
    </div>
    <div id="footer">
        Footer
    </div>
</div>



<!--
{% if title %}
    <center><table id="imageview">
        <tr>
            <th>Project: {{ project_name}}</th>
        </tr>
        <tr>
            <td>Title: {{ title }}</td>
        </tr>
        <tr>
            <td>
            <img src="{{ location }}" />
            </td>
        </tr>
        <tr>
            <td>Publish date - {{pub_date}}</td>
        </tr>
    </table></center>
{% else %}
    <p>Opps. Looks like there is an error.</p>
{% endif %}-->


</body>
</html>