{% load staticfiles %}
<html>
<title>Strangely Ever After - Gallery</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
</head>
<body>

{% if galleryimage_list %}

    <center><table>
        <th colspan=5><img src="{{ banner_image }}" /></th>

        {% for inner_list in galleryimage_list %}
        <tr>
            {% for img in inner_list %}
                <td id="title"><a href="./{{ img.id }}/">{{ img.title }}</a></td>
            {% endfor %}
        </tr>
        <tr>
            {% for img in inner_list %}
                <td id="image"><a href="./{{ img.id }}/"><img src="{{ img.thumb.url }}"></a></td>
            {% endfor %}
        </tr>

        {% endfor %}

    </table></center>




{% else %}
    <p>No images are available for this project.</p>
{% endif %}

</body>
</html>