<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/media/styles/styles.css" />
<head>
<body>
<div class="mainDisplay">
    <img class="mainDisplayBoarder" src="/media/website_images/boarder.png">
    
    <img class="mainDisplayImage" src="/media/website_images/mainImage005.jpg">

    <div class="mainDisplayLinkBox">
        <a href="http://strangelyeverafter.wordpress.com/" target="_new">
            <img class="mainDisplayLinks" src="/media/website_images/blog.png">
        </a>
        <br />
        <a href="./gallery/" target="_self">
            <img class="mainDisplayLinks" src="/media/website_images/gallery.png">
        </a>
        <br />
        <a href="http://www.ravelry.com/people/StrangelyForever" target="_new">
            <img class="mainDisplayLinks" src="/media/website_images/knit_patterns.png">
        </a>
        <br />
        <a href="http://www.etsy.com/people/StrangelyEverAfter" target="_new">
            <img class="mainDisplayLinks" src="/media/website_images/shop.png">
        </a>
        <br />
    </div>
    <div class="aboutBox">
        <h2>About</h2>
        Mah name is Corrie. I am SOOOO fucking cute. Everyone loves the shit out 
        of me and I know it.  I make super rad things all the time and I'm the 
        best.  When I dance, the heavens rain awesomeness. Booya, so fucking cute 
        all the time.
    </div>
</div>



</body>
</html>